/*como cargar fuentes de google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Tangerine');
@import url('https://fonts.googleapis.com/css2?family=Lexend Deca');
@import url('https://fonts.googleapis.com/css2?family=Spirax');
/*@import url('https://fonts.googleapis.com/css2?family=Bilbo');*/

h1{
    padding-top: 20px;
    padding-bottom: 0px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 32px;
  /*font-family: Tangerine, serif;*/
    color: rgb(255, 255, 255);
    text-align: center;
    text-shadow: 4px 4px 4px #aaa;
}
h2{
    font-size: 28px;
    font-weight: bold;
    margin-top: 0.6em;    /*0.83em por defecto*/
    margin-bottom: 0.6em;
}
.descripcion{ 
    color: rgb(255, 255, 255);
    text-align: center;
    font-family: "Spirax";
    font-size: 25px;
}
h4{
    padding-top: 5px;
    padding-bottom: 5px;
    font-family:monospace;
    /*Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;*/
    color: rgb(255, 255, 255);
    text-align: center;
}
/*bodyes*/
.principal{
    background-color: burlywood;
    line-height:1.2em;
}
p{
    line-height: normal;
    font-size: 16px;
}
li{
    line-height: normal;
}
body{
   /* background-image: url("banner-1.jpg");
    background-repeat: no-repeat; */
    background-color: rgb(29, 2, 65);
    
    /*para que el footer quede abajo*/   
    display: flex;
    flex-direction: column;
    min-height: 100vh;

}
section{
    background-color: rgb(247, 169, 69);
    line-height: normal;
    font-size: 16px;
    text-align: center;
    margin-bottom: 20px;
}
form{
    margin-left: 70px;
    margin-right: 70px;
    background-color: burlywood;
    line-height: normal;
   

}
/**/
.contenedor-de-imagenes {
    display: flex;
    justify-content: space-evenly;
  /*  font-size: 24px;*/
}
.tarjeta{
    text-indent: 10px;
    text-align: justify;
    padding: 5px;
    margin: 0.2%;
    border: 1px solid grey;
    border-radius: 10px;
}
.subtitulo{
    font-family: "Lexend Deca";
    font-size: 24px;
    text-align: center;
    margin: 0.2%;
}
.imagen{
    /*border: aqua;*/
    /*border-color: aqua;*/

    font-family: Tangerine, serif;
    color: white;
    text-align: center;
    font-size: 40px;
}
.lista{
    font-family:Georgia, 'Times New Roman', Times, serif;
    margin-bottom: 0.2%;
}
hr{
    background-color: darkorange;   
    width: 600px;
    border-width: 2px;
    margin: 0 auto;
}
.h4principal{
    color: black;
    font-size: 16px;
}
footer{
    padding: 5px;
    margin-top: auto;  /**/
}
.tarjetaCreada{
    margin-left:20%;
    margin-right:20%;
     border: 1px solid grey;
    border-radius: 10px;
}